.nav_action{
	cursor: pointer;
	a {
		border-bottom: 4px solid rgba(255, 0, 19, 0.10);
		&:hover{
			border-bottom: 4px solid rgba(255, 0, 19, 0.40);
		}
	}
}

.navbar {
	border-bottom: solid 2px #ffa53c;
}
