@import "mixins";

body{
	padding-top: 60px;
	margin: 10px;
}

#page_divider {
	border-bottom: solid 2px #00b0e9;
	margin: 10px 5px 10px 5px;
}

ul.notifications {
	position: fixed;
}

.link{
	cursor: pointer;
}

.fading-page-divider{
	width: 100%;
	height: 1px;
	margin: 20px 5px 10px 0;
	@include linear-divider-gradient;
}



