.statistics-item{
	padding:2px;
	margin-left: 5px;
	margin-right: 5px;
	display: block;
}

#playcount_toplist{
	margin: 0 15px 0 15px;

	.list-group-item{
		padding-right: 0;
		border: 0;
	}
}

.stats-big-number{
	font-size: 6em;
	color: #ddd;
	padding-left: 5px;
}

.play-count-item-list{
	margin: 0;
	display: inline-block;
}
.play-count-list-item{
	display: inline-block;
	vertical-align: middle;

	&.index-num{
		font-size: 6em;
		color: #ddd;
	}
}