#yt-container{
	//max-width: 500px;
	padding: 15px;
	//margin: 0 auto;
	//input {
	//	margin: 5px 0;
	//}
	.yt-input-group{
		margin-bottom: 10px;
	}
}

.yt-list-item{
	padding: 5px 0 5px 5px;
	border-bottom: 1px solid #e0e0e0;

	.btn-delete-ytSound{
		float: right;
	}
}



.yt-collection{
	padding-left: 0;
	list-style: none;
}
