<template name="search">

	{{> head}}


	{{> navbar}}
	<div class="row" id="search-container">

		{{> esInput index="sounds" placeholder="Search..." class="form-control input-lg sound-search-input"}}

		<div id="search-result-container">
			<ul id="results-list">
				{{#esEach index="sounds"}}
					<li class="search-result-list-item">

						<div class="result" data-sound-id="{{_id}}">
							<span data-sound-id="{{_id}}" class="search-result-text">
								{{display_name}}
							</span>
						</div>

						<div class="fav-star link" data-sound-id="{{_id}}">
						{{#if currentUser}}
							<span class="glyphicon glyphicon-star {{#if isFav _id}}faved{{/if}}"
								  data-sound-id="{{_id}}"
								  aria-hidden="true">
							</span>
						{{/if}}
						</div>

					</li>
					<div class="fading-page-divider"></div>

				{{/esEach}}
			</ul>

			{{> esLoadMoreButton class="btn btn-default" index="sounds"}}

			{{#ifEsHasNoResults index="sounds"}}
				<div class="no-results">No results found!</div>
			{{/ifEsHasNoResults}}

			{{#ifEsIsSearching index="sounds"}}
				<div>Loading...</div>
			{{/ifEsIsSearching}}
		</div>

	</div>


</template>