<template name="settings">

	{{> head}}


	{{> navbar}}

	<div class="row settings-container">
		<div class="col-md-4">

			<h2>HDMI</h2>

			<h4>Port names</h4>

			<ul class="settings-list" id="hdmi-port-settings-list">
				{{#each hdmisettings}}

					<li>
						<label for="input_hdmi_port_{{hdmiport}}">Port {{hdmiport}}</label>
						<input type="text" class="form-control hdmi-port-name-input" id="input_hdmi_port_{{hdmiport}}"
							   value="{{name}}" data-port="{{hdmiport}}" placeholder="Name">
					</li>

				{{/each}}
			</ul>

			<button class="btn btn-default" id="settings-hdmi-name-save">
				<strong>Save names</strong>
			</button>

			<!-- <div class="settigs-divider"></div>
			<h4>Reset</h4>
			<button class="btn btn-default" id="settings-hdmi-reset">
				<strong>Reset serial for HDMI</strong>
			</button> -->

		</div>


		<div class="col-md-4">
			<h2>Sounds</h2>

			<h4>Directory</h4>

			<ul class="settings-list">
				<li>
					<div class="input-group">
						<input type="text" class="form-control" value="{{soundDirectory}}" placeholder="Directory"
							   id="settings-input-directory"/>
      				<span class="input-group-btn">
        				<button class="btn btn-default" type="button" id="settings-save-directory">Save</button>
      				</span>
					</div>
				</li>
			</ul>

			<h4>Modify</h4>

			<p>Checks for new files and adds them to the sound collection.</p>
			<button class="btn btn-info" id="settings-update-sounds">
				<strong>Update sound collection</strong>
			</button>

			<div class="fading-page-divider"></div>
			<p>Checks if any soundfiles have been deleted and removes them from the collection.</p>
			<button class="btn btn-info" id="settings-remove-deleted">
				<strong>Remove deleted sounds</strong>
			</button>

			<div class="fading-page-divider"></div>
			<p>The initialization will <strong>delete all sound data</strong> and rescan. Execute this on first start. This might take some time.</p>

			<div class="checkbox">
				<label>
					<input id="checkbox_rescan" type="checkbox"> I understand
				</label>
			</div>

			<button class="btn btn-danger" id="settings-rescan-sounds">
				<strong>Initialize sound collection</strong>
			</button>


		</div>

	</div>
	<!-- End settings container -->

	{{> sAlert}}

</template>
