@import "../base/sass/_variables";

#category_view {
	margin: 5px 1px 5px 1px;
	list-style: none;
	padding: 1px;

	select{
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		padding: 3px 6px;
	}

	@media #{$sceen_lg} {
		-moz-column-count: 6;
		-webkit-column-count: 6;
		column-count: 6;
	}

	@media #{$sceen_md} {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}

	@media #{$sceen_sm} {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}

	@media #{$sceen_xs} {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

#no_category_view {
	padding: 5px;
	margin: 5px;

	.sound-button {
		font-size: 12px;
	}
}

.soundboard-content {
	text-align: center;
	margin: 10px 10px 0 10px;
}

.dropdown_sound {
	text-align: center;
	font-size: 14px;

	&:hover{
		cursor: pointer;
	}
}


.category_dropdown {
	margin-top: 5px;
	width: 95%;
	font-size: 14px;
	background-color: white;
	border: 1px solid #e0e0e0;
	text-align: center;
}
