@import "../base/sass/_variables";
@import "../base/sass/mixins";

#search-container {

	@media #{$sceen_lg} {
		padding: 10px 30% 10px 30%;
	}

	@media #{$sceen_md} {
		padding: 10px 25% 10px 25%;
	}

	@media #{$sceen_sm} {
		padding: 10px 15% 10px 15%;
	}

	@media #{$sceen_xs} {
		padding: 10px 10% 10px 10%;
	}

	input {
		margin-top: 10%;
	}
}

#search-result-container {
	padding: 5px 10px 0 10px;
	font-size: 20px;

	ul {
		list-style: none;
		padding: 0 0 0 10px;

		.result {
			min-height: 32px;
			margin: 2px 0 4px 0;
			cursor: pointer;

			&:hover {
				color: #337ab7;
			}

			.search-result-text{
				vertical-align: middle;
				
				.search-result-category{
					font-size: 10px
				}
			}



		}

		.fading-page-divider{
			margin: 0;
		}
	}

	.search-result-list-item{

		div{
			display: inline-block;
			vertical-align: middle;
		}

		.fav-star{
			float: right;
			color:#DDD;

			.faved{
				color:#FFEB3B;
			}
		}

	}


}
